[Unit]
Description=Home Worker feature dependency installer
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/home-worker/feature-installer
TimeoutStartSec=35min
User=root
Group=root
UMask=0077
NoNewPrivileges=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictRealtime=yes
StandardOutput=journal
StandardError=journal
